/************wrappers**************/
.body {
  background-image: url('../../assets/images/halloween-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/*********** images ***************/
.bag,
.remove,
.img-thumbnail {
  max-height: 90px;
  margin-right: 5px;
  max-width: 85%;
  width: auto;
  height: auto;
  border: none;
  padding: 0;
}

.haunted-house {
  max-width: 100px;
  height: auto;
}

.already-added {
  width: 30px;
  height: auto;
}

.bag,
.remove {
  cursor: pointer;
}

.candies {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

/**************buttons**************/
.btn-infos {
  width: 25px;
  height: 25px;
}

.btn-question-mark {
  background-color: white;
  padding: 0;
}

.btn:disabled {
  opacity: 0.3 !important;
}

.form-route {
  position: relative;
}

.btn-warning {
  position: absolute;
  bottom: 0;
  right: 0;
}

/************card**************/
.card-header {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
